create-change-pr 0.6.0
create-multiple-change-pr 0.3.1
direnv 2.37.1
packer 1.15.3
azure-cli 2.38.0
container-diff 0.19.0
github-cli 2.92.0
helm 4.1.4
jq 1.8.1
k9s 0.50.18
kubectl 1.36.0
kubectx 0.11.0
kubergrunt 0.19.0
deno 2.7.14
iga-renderizer 0.4.8
terraform 1.15.2
terraform-ls 0.38.6
terragrunt 0.26.7
nodejs 25.9.0
ig-tenant-upgrade 0.5.0-SNAPSHOT
bitwarden 2026.4.1
pre-commit 4.6.0
terraform-docs 0.16.0
yq 4.53.2
act 0.2.88
golang 1.26.3
shellcheck 0.11.0
awscli 2.34.44
fzf 0.72.0
terrascan 1.18.3
pluto 5.24.0
nova 3.12.0
eksctl 0.226.0
starship 1.21.1
java openjdk-14.0.2
neovim 0.12.2
gcloud 567.0.0
glab 1.94.0
trivy 0.69.3
checkov 3.2.125
infracost 0.10.44
gh2gl 2.6.0
bitwarden-secrets-manager 2.0.0
shfmt 3.13.1
tg-infra-live 0.1.2
retrieve-artifacts 0.3.0
tflint 0.53.0
jfrog-cli 2.103.0
update-tenant 0.77.4
configure-tenant 0.61.1
create-new-tenant 0.72.2
maintain-tenant 0.61.1
reset-tenant 0.66.3
go-swagger 0.33.2
goreleaser 2.15.4
gitui 0.28.1
python 3.14.4t
rust 1.95.0
jenkins-release 0.4.2
gum 0.17.0
task 3.45.4
yarn 1.22.22
fetch 0.4.8
kubesnap 1.2.0
kc-runner 0.1.0
go-amch 1.0.0-dev.1
bifrost 1.1.0
tfsec 1.28.14
glow 2.1.2
inkspect 1.0.0
earthly 0.8.16
golangci-lint 2.12.2
gruntwork-install 0.3.1
jless 0.9.0
manage-content-bucket 0.72.10
tmux 3.6a
uv 0.11.11
