create-change-pr 0.3.4
create-multiple-change-pr 0.1.20
direnv 2.32.3
packer 1.9.4
azure-cli 2.38.0
container-diff 0.17.0
github-cli 2.32.1
helm 3.12.3
jq 1.6
k9s 0.31.7
kubectl 1.26.15
kubectx 0.9.5
kubergrunt 0.14.0
deno 1.40.5
iga-renderizer 0.3.11
terraform 0.13.7
terraform-ls 0.31.2
terragrunt 0.26.7
nodejs 18.19.1
ig-tenant-upgrade 0.3.4
bitwarden 2024.4.0
pre-commit 3.2.2
terraform-docs 0.16.0
yq 4.35.1
act 0.2.62
golang 1.20
shellcheck 0.9.0
awscli 2.13.16
earthly 0.7.20
fzf 0.42.0
terrascan 1.18.3
pluto 5.18.4
nova 3.6.4
eksctl 0.165.0
starship 1.17.1
java openjdk-14.0.2
neovim 0.9.5
gcloud 477.0.0
glab 1.40.0
