direnv 2.37.1
packer 1.15.4
azure-cli 2.88.0
container-diff 0.19.0
github-cli 2.96.0
helm 4.2.3
jq 1.8.2
k9s 0.51.0
kubectl 1.36.2
kubectx 0.11.0
kubergrunt 0.19.0
deno 2.9.2
terraform 1.15.8
terraform-ls 0.38.8
terragrunt 1.1.0
nodejs 26.5.0
bitwarden 2026.6.0
pre-commit 4.6.0
terraform-docs 0.24.0
yq 4.53.3
act 0.2.89
golang 1.26.5
shellcheck 0.11.0
awscli 2.35.20
fzf 0.74.0
terrascan 1.19.9
pluto 5.24.1
nova 3.12.0
eksctl 0.229.0
starship 1.26.0
neovim 0.12.4
gcloud 575.0.1
glab 1.107.0
trivy 0.72.0
checkov 3.2.125
infracost 0.10.45
bitwarden-secrets-manager 2.1.0
shfmt 3.13.1
tflint 0.63.1
go-swagger 0.35.0
goreleaser 2.17.0
python 3.14.6t
rust 1.97.0
gum 0.17.0
task 3.52.0
yarn 1.22.22
fetch 0.4.8
tfsec 1.28.14
glow 2.1.2
golangci-lint 2.12.2
jless 0.9.0
tmux 3.7b
uv 0.11.28
bifrost 1.1.1
kubesnap 1.2.0
inkspect 1.0.0
gh2gl 2.6.0
iga-renderizer 0.4.9
gruntwork-install 0.3.1
update-tenant 0.77.5
configure-tenant 0.61.1
create-new-tenant 0.77.5
maintain-tenant 0.61.1
reset-tenant 0.66.3
manage-content-bucket 0.80.7
create-change-pr 0.7.1
jenkins-release 0.4.2
kc-runner 0.1.0
tg-infra-live 0.1.2
retrieve-artifacts 0.3.0
ig-tenant-upgrade 0.7.0
java openjdk-14.0.2
opentofu 1.12.3
